body {
    background-color: rgb(234, 250, 255);
}

h1 {
    font-size: 40px;
}

a:visited {
    font-style: italic;
    color: rgb(159, 17, 159)
}

ol, li {
    font-size: 24px;
    font-weight: bold;
    color: royalblue;
}

ul li {
    font-size: 18px;
    color: black;
    font-weight: normal;
}